//Inicio estilo
*{
    margen: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    display:flex;
    flex-direction: column;  
    
    width: 100%;
    max-height: 95vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
    border: 2px solid red;
}
.cano{
    position: absolute;
    bottom: 30px;
    width: 80px;

    animation-name: cano-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
   
}
.mario-correndo{
    width: 150px;
    position: absolute;
    bottom: 30px;
}
.pulo{
    animation-name: pulo;
    animation-duration: 500ms;
    animation-timing-function: ease-out;
}
.chao{
    background-image: url("images/tijolo02.png");
    width: 9999%;
    height:30px;
    position: absolute;
    bottom: 0;
    background-size: 110px;
    background-repeat: x;

    animation-name: chao;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.planice{
    background-image: url("images/planice.png");
    background-repeat: repeat-x;
    background-position: bottom;

    width: 9999%;
    min-height: 100vh;

    position: absolute;
    bottom: 29px;
    opacity:0.8;

    animation-name: chao;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}
.nuvens{
    margin-top: 100px;
    width: 100%;
    min-height: 100vh;
    max-height: 200px;

}
.nuvens-01{
    width: 400px;
    position: absolute;
    margin-top: 24px;

    opacity:0.6;

    animation-name: nuvens;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.nuvens-02{
    width: 100px;
    position: absolute;
    margin-top: 44px;

    opacity:0.6;

    animation-name: nuvens-02;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.nuvens-03{
    width: 100px;
    position: absolute;
    margin-top: 34px;

    opacity:0.6;

    animation-name: nuvens-03;
    animation-duration: 17s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.nuvens-04{
    width: 100px;
    position: absolute;
    margin-top: 130px;

    opacity:0.6;

    animation-name: nuvens-04;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.nuvens-05{
    width: 100px;
    position: absolute;
    margin-top: 110px;

    opacity:0.6;

    animation-name: nuvens-05;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes cano-animation {
    from {right: -80px;}
    to {right: 100%;}
  }

@keyframes pulo {
    /*
    Inicio do pulo: bottom: 0;
    Meio do pulo: bottom: 180px;
    Meio do pulo gravidade: 60% bottom: 180px;
    Fim do pulo:  bottom: 0;
    */
    0% {bottom: 0;}
    50% {bottom: 180px;}
    60% {bottom: 180px;}
    100% {bottom: 0;}
  }

@keyframes chao {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(-800px);
    }
}

@keyframes planice {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(-800px);
    }
}

@keyframes nuvens {
    from {right: -400px;}
    to {right: 100%;}
}
@keyframes nuvens-02 {
    from {right: -100px;}
    to {right: 100%;}
}
@keyframes nuvens-03 {
    from {right: -100px;}
    to {right: 100%;}
}
@keyframes nuvens-04 {
    from {right: -100px;}
    to {right: 100%;}
}
@keyframes nuvens-05 {
    from {right: -100px;}
    to {right: 100%;}
}