//Inicio estilo
*{
    margen: 0;
    padding: 0;
    box-sizing: border-box;
}
.game-board{
    width: 100%;
    height: 500px;
    border: 1px solid red;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.cano{
    position: absolute;
    bottom: 30px;
    width: 80px;

    animation-name: cano-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
   
}
.mario-correndo{
    width: 150px;
    position: absolute;
    bottom: 30px;
}
.pulo{
    animation-name: pulo;
    animation-duration: 500ms;
    animation-timing-function: ease-out;
}
.chao{
    background-image: url("images/tijolo02.png");
    width: 9999%;
    height:30px;
    position: absolute;
    bottom: 0;
    background-size: 110px;
    background-repeat: x;

    animation-name: chao;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes cano-animation {
    from {right: -80px;}
    to {right: 100%;}
  }

@keyframes pulo {
    /*
    Inicio do pulo: bottom: 0;
    Meio do pulo: bottom: 180px;
    Meio do pulo gravidade: 60% bottom: 180px;
    Fim do pulo:  bottom: 0;
    */
    0% {bottom: 0;}
    50% {bottom: 180px;}
    60% {bottom: 180px;}
    100% {bottom: 0;}
  }

@keyframes chao {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(-800px);
    }
}